$icon-font-path: "../bootstrap/fonts/bootstrap/";
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary: #0277d1; //#0288d1
$brand-highlight: #0287e5;

$navbar-default-bg: #fff;
